<h1>Xóa sách</h1>
<hr>
<table class="container">
  <div>
    <label class="font-weight-bold">Id: </label>
    <p>{{book.id}}</p>
  </div>
  <div>
    <label class="font-weight-bold">Tên sách: </label>
    <p>{{book.title}}</p>
  </div>
  <div>
    <label class="font-weight-bold">Tác giả: </label>
    <p>{{book.author}}</p>
  </div>
  <div>
    <label class="font-weight-bold">Mô tả: </label>
    <p>{{book.description}}</p>
  </div>
  <div>
    <button class="btn btn-danger mr-2" (click)="onClick()">Xóa sách</button>
    <button class="btn btn-outline-danger" routerLink="/">Thoát</button>
  </div>
</table>

