<button class="btn btn-secondary" routerLink="/">Home</button>
<hr>
<form class="container" [formGroup]="bookForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label class="font-weight-bold">Title: </label>
    <input formControlName="title" class="form-control">
  </div>
  <div *ngIf="bookForm.get('title').invalid" style="color: red;">
    Invalid title
  </div>
  <div class="form-group">
    <label class="font-weight-bold">Author: </label>
    <input formControlName="author" class="form-control">
  </div>
  <div *ngIf="bookForm.get('author').invalid" style="color: red;">Invalid author</div>
  <div class="form-group">
    <label class="font-weight-bold">Description: </label>
    <input formControlName="description" class="form-control">
  </div>
  <div *ngIf="bookForm.get('description').invalid" style="color: red;">Invalid description</div>

  <div class="form-group">
    <button class="btn btn-outline-primary" type="submit">Submit</button>
  </div>
</form>
