<button class="btn btn-secondary" routerLink="/">Xem danh sách</button>
<hr>
<h1>Chi tiết sách</h1>
<table class="container">
  <div>
    <label class="font-weight-bold">Id: </label>
    <p>{{book.id}}</p>
  </div>
  <div>
    <label class="font-weight-bold">Tên sách: </label>
    <p>{{book.title}}</p>
  </div>
  <div>
    <label class="font-weight-bold">Tác giả: </label>
    <p>{{book.author}}</p>
  </div>
  <div>
    <label class="font-weight-bold">Mô tả: </label>
    <p>{{book.description}}</p>
  </div>
</table>

